body{
    background-color: #fafafa;
    width: 65vw; 
    height: 65hw;
    display: flex;
    margin: 30px;
    padding: 30px;
    margin-left: 300px;
    align-items: center;
    justify-content: space-between;
    border: 100px;}

.container-left{width: 10vw;
                height: 10hw;}

.container-right{width: 10%;
                 height: 10%;}

.pagina{width: 10vw;
        height: 10hw;
        margin-left: 100%;}

.firstparagraph{weight: 10vw;
                font-style: normal;
                font-size: 50px;
                height: 10hw;}

.inputfield{
    padding: 15px;
    height: 5px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 10px;
    margin-top: 5px;
}

.bts{background-color: blue;
    color: white;
    border: none; 
    border-radius: 10px;
    font-size: 15px;
    line-height: 50px;
    padding: 0 16px;
    width:337px;
    height:40px;
    margin-top: 8px;
    align-items: center;
    margin-bottom: 8%;}


